{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <h1>Create new Comment for Post ID - {{ comment.postId }}</h1>

    {{ include('comment/_form.html.twig') }}

    <a href="{{ path('app_message_show', {'id': comment.postId}) }}) }}">Back to post</a>
{% endblock %}
